form {
  width: 300px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  background-color: #ccc;
}

form label {
  width: 72px;
  font-weight: bold;
  display: inline-block;
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form select[name="products"],
form textarea {
  width: 180px;
  padding: 3px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block;
}

#form2 {
  width: 330px;
  padding: 14px;
  border-radius: 2px;
  margin: auto;
  background-color: rgb(100, 100, 184);
}

#form2 input[type="text"],
#form2 input[type="email"] {
  width: 100%;
  padding: 12px 85px;
  margin-top: 17px;
  border: 3px solid #ff69b4;
  border-radius: 7px;
  display: block;
  color: black;
  font-weight: bold;
}

#form2 textarea {
  width: 100%;
  height: 100%;
  padding: 1em;
  border: 3px solid #ff69b4;
  background-color: white;
  color: black;
  font-weight: bold;
}
#form2 input[type="submit"]:hover {
  cursor: pointer;
}
#form2 input[type="submit"] {
  width: 100%;
  padding: 8px 16px;
  margin-top: 35px;
  border: 3px solid #ff69b4;
  border-radius: 7px;
  display: block;
  color: #1b004b;
  font-weight: bold;
  background-color: #ff69b4;
}
