.header-container {
  background-color: #1b004bb2;
  width: 100%;
}

.menu-container {
  background-color: #ff69b4;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  margin-right: 39px;
  padding: 8px;
  width: 100%;
}

.logo {
  background-color: #ff69b4;
}
.logo img {
  height: 80px;
  width: 80px;
}

.options-container {
  background-color: #ff69b4;
  width: 100%;
}
.options-container ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 100%;
  justify-content: right;
  list-style: none;
}
.options-container ul li {
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.options-container ul li a:hover {
  color: black;
  font-size: 17px;
  text-decoration: underline;
  transition: all 0.3s ease;
}
