.option-variety ul {
  margin: 0 auto;
  list-style-type: circle;
  width: 50px;
}

.content-wrapper {
  margin: 0 auto;
  background-color: rgb(255, 0, 200);
  width: 60%;
}

.table-container {
  margin: 0 auto;
}
.container-content2 {
  margin-bottom: 20px;
  margin-top: 20px;
}
