.option-variety ul {
  margin: 0 auto;
  list-style-type: circle;
  background-color: rgb(255, 102, 0);
  padding-inline-start: 20px;
}

.content-wrapper {
  margin: 0 auto;
  background-color: aqua;
  width: 60%;
}
.table-container {
  margin: 0 auto;
}
