.form1-container {
  margin-bottom: 50px;
}
#form2 {
  background-color: rgb(100, 100, 184);
  border-radius: 2px;
  margin-top: 30px;
  margin: auto;
  padding: 20px;
  width: 380px;
}

#form2 input[type="text"],
#form2 input[type="email"] {
  border-radius: 4px;
  border: 4px solid #ff69b4;
  color: black;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  height: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px 7px;
  width: 100%;
}

#form2 textarea {
  border-radius: 4px;
  border: 4px solid #ff69b4;
  color: black;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  height: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px 7px;
  resize: vertical;
  width: 100%;
}

#form2 input[type="submit"]:hover {
  cursor: pointer;
}
#form2 input[type="submit"] {
  background-color: #ff69b4;
  border-radius: 4px;
  border: 4px solid #ff69b4;
  color: #1b004b;
  display: block;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 20px;
  padding: 8px 16px;
  width: 100%;
}
