.option-makeup {
  padding: 5px;
}
.option-makeup ul {
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  list-style-type: disc;
  margin-inline-start: 20px;
}
