h1 {
  color: #1b004b;
  display: block;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.btn {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  border: 2px solid #ff69b4;
  box-sizing: border-box;
  color: #1b004b;
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  margin-left: 20px;
  margin-top: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn:hover,
.btn:focus {
  color: #ffffff;
  outline: 0;
}

.btn a {
  display: block;
  padding: 1.2em 2.8em;
}

.fifth {
  overflow: hidden;
  position: relative;
  transition: color 150ms ease-in-out;
  z-index: 1;
}
.fifth:after {
  background: #ff69b4;
  content: "";
  display: block;
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  transition: width 150ms ease-in-out;
  width: 0;
  z-index: -1;
}
.fifth:hover {
  color: #ffffff;
}
.fifth:hover:after {
  width: 110%;
}
